:root {
  --body-background-color: #21252b;
  --body-text-color: #ffffff;
  --card-background-color: #2f3339;
  --nav-background-color: #21252b;
  --nav-border-bottom-color: #3e444c;
  --nav-current-border-bottom-color: #af4c41;
  --card-border-color: #505c6a;
  --down-border-left-color: #eb3b5a;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #20bf6b;
  --tag-color: #e3e7ea;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}
